<!DOCTYPE html>
<html lang="en" ng-app="myTaskModule">

<head>
  <meta charset="UTF-8">
  <title>Joining Form</title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/controller/index-controller.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>

<body>
  <div class="join-page" ng-controller="myTaskCtrl">
    <div class="join-Wrapper">
      <div class="form">
        <form class="join-form" name="joinForm" novalidate>
          <h4 class="join-style"><u>Jo</u>in Us</h4>
          <div class="input-icons">
            <label for="email"><i class="fa fa-envelope icon" aria-hidden="true"></i> </label>
            <input type="text" class="input-field" id="email" name="email" ng-model="newUser.email"
              placeholder="Enter Your Email" required />
          </div>
          <div class="input-icons">
            <label for="password"><i class="fa fa-lock icon" aria-hidden="true"></i> </label>
            <input class="input-field" type="password" id="password" name="password" ng-model="newUser.password"
              placeholder="Enter Your Password" required />
          </div>
          <div class="input-icons">
            <label for="rePassword"><i class="fa fa-lock icon" aria-hidden="true"></i> </label>
            <input class="input-field" id="rePassword" name="rePassword" type="password" ng-model="newUser.rePassword"
              placeholder="Retype Your Password" required />
          </div>
          <button type="submit" ng-click="submitClick()">Join</button>

          <p class="message">Already have an account? <a href="#">Login</a></p>
        </form>
      </div>
      <div class="bannerBox">
        <img src="/images/image.jpg">
        <h2>Every new friend is a<br>new adventure</h2>
        <h4><br><br><br><br>Join Us</h4>
      </div>
    </div>
  </div>

</body>

</html>